.App {
  text-align: center;
}
/* Prevent content from overflowing horizontally */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* 👈 stops left-right scroll */
  width: 100vw;         /* 👈 ensures it fits screen width */
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slick-slide > div {
  margin: 0 16px; /* 👈 horizontal gap */
}
.slick-list {
  margin: 0 -16px; /* 👈 fixes outer spacing */
}
